# ========================
# NetBeans
# ========================
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/
.netbeans/
.netbeans-hidden/

# ========================
# Build & Dist
# ========================
build/
dist/

# ========================
# Java
# ========================
*.class
*.log

# ========================
# Empaquetado
# Ignora .jar, .war y .ear excepto los que estén en lib/
*.jar
*.war
*.ear
!lib/*.jar

# ========================
# Archivos temporales
*.tmp
*.bak
*.swp
*~
*.old

# ========================
# Archivos ocultos del sistema
.DS_Store
Thumbs.db
